DB_USER=
DB_PASSWORD=
NEXT_PUBLIC_API_URL=
# Configuración compartida de la Base de Datos
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
# Asegúrate de que se vea así, sin llaves ni process.env
NEXT_PUBLIC_API_URL=
# Puertos de los Microservicios
PORT_USERS=
PORT_PETS=